@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="Get" action="ScrapeFanShare" controller="Ownership">
            <input type="submit" value="Scrape" />
        </form>

        
        @Html.ActionLink("ListScrape", "ListTest")
        @Html.ActionLink("ScrapeFan", "ScrapeFanShare")
    </div>
</body>
</html>
