@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @ViewBag.InnerTextTest 

        <ol>
            @foreach (string t in ViewBag.ListStringTest)
            {
                <li>@t</li>
            }
        </ol>
    </div>
</body>
</html>
